<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"  parallel="tests" data-provider-thread-count="3">
    <listeners>
        <listener class-name="org.govstack.listners.TestNGListners"/>
    </listeners>
    <parameter name="cucumber.filter.tags" value="@Demo"/>
    <test name="GovStack Automation" thread-count="3">
        <classes>
            <class name="org.govstack.runner.TestRunner"/>
        </classes>
    </test>
</suite>
